<launch>
    <include file="$(find aws_robomaker_small_house_world)/launch/small_house.launch">
        <arg name="gui" value="true"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model doris -z 1" />
    <!-- Camera controllers -->
    <rosparam command="load" file="$(find doris_sensors_description)/config/camera_controllers_sim.yaml" ns="doris_head"/>
    <!-- Start controllers -->
    <node ns="doris_head" name="camera_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="head_pan_position_controller head_tilt_position_controller joint_state_controller">
    </node>

</launch>