<launch>
    <arg name="urdf" default="doris_no_arm.urdf.xacro"/>

    <param name="robot_description" command="xacro $(find doris_description)/urdf/$(arg urdf)"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
</launch>