<launch>
    <arg name="output" default="screen"/>
    <arg name="face_output" default="$(arg output)"/>
    <arg name="slam_output" default="$(arg output)"/>
    <arg name="vision_output" default="$(arg output)"/>
    <arg name="arm_output" default="$(arg output)"/>
    <arg name="use_rviz" default="true"/>
    <arg name="camera" default="realsense"/>
    <arg name="tracking_config_file" default="yolo_tracker_face_recognition.yaml"/>
    <arg name="observation_sources" default="body_scan ground_scan"/>
    <arg name="config_file" default="yolov8_object_recognition_custom.yaml"/>   
    <arg name="arm_z_position" default="0.34"/>

    <include file="$(find butia_launchfiles)/launch/boris_description.launch">
        <arg name="arm_z_position" value="$(arg arm_z_position)"/>
    </include>

    <include file="$(find butia_launchfiles)/launch/navigate.launch">
        <arg name="use_rviz" value="false"/>
        <arg name="observation_sources" value="$(arg observation_sources)"/>
    </include>

    <include file="$(find butia_launchfiles)/launch/manipulation.launch"/>

    <include file="$(find robotFace)/launch/face.launch">
        <arg name="output" value="$(arg face_output)"/>
    </include>

    <include file="$(find butia_launchfiles)/launch/machines.launch"/>
  
    <include file="$(find butia_vision_launchfiles)/object_recognition.launch">
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_launchfiles)/rviz/navigate_vision_arm.rviz" output="$(arg output)"/>
</launch>
