<launch>
    <arg name="output" default="screen"/>
    <arg name="navigate_output" default="$(arg output)"/>
    <arg name="vision_output" default="$(arg output)"/>
    <arg name="use_rviz" default="true"/>
    <arg name="face_output" default="$(arg output)"/>
    <arg name="camera" default="realsense"/>
    <arg name="observation_sources" default="body_scan ground_scan"/>

    <include file="$(find butia_launchfiles)/launch/machines.launch"/>

    <include file="$(find butia_launchfiles)/launch/navigate_vision.launch">
        <arg name="output" value="$(arg output)"/>
        <arg name="navigate_output" value="$(arg navigate_output)"/>
        <arg name="vision_output" value="$(arg vision_output)"/>
        <arg name="use_rviz" value="false"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <include file="$(find robotFace)/launch/face.launch">
        <arg name="output" value="$(arg face_output)"/>
    </include>

    <include file="$(find butia_vision_launchfiles)/face_rec.launch">
        <arg name="bvb_machine" value="localhost"/>
        <arg name="machine" value="jetson"/>
        <arg name="output" value="$(arg vision_output)"/>
        <arg name="publish_tf" value="true"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_launchfiles)/rviz/navigate_vision.rviz" output="$(arg output)"/>
    </group>
</launch>