<launch>
    <arg name="output" default="screen"/>
    <arg name="navigate_output" default="$(arg output)"/>
    <arg name="vision_output" default="$(arg output)"/>
    <arg name="use_rviz" default="true"/>
    <arg name="use_sim" default="false"/>
    <arg name="face_output" default="$(arg output)"/>
    <arg name="camera" default="kinect"/>
    

    <include file="$(find butia_launchfiles)/launch/doris_description.launch"/>

    <include file="$(find butia_launchfiles)/launch/doris_simulation.launch" />

    <include file="$(find butia_navigation_launchfiles)/navigate-doris-base.launch">
    </include>

    <include file="$(find interbotix_xsarm_moveit)/launch/doris_moveit.launch">
        <arg name="use_gazebo" value="true" />
        <arg name="use_actual" value="false" />
    </include>

    <include file="$(find butia_vision_launchfiles)/people_tracking.launch">
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_launchfiles)/rviz/navigate_people_tracking.rviz" output="$(arg output)"/>
    </group>
</launch>