<launch>
    <arg name="output" default="screen"/>
    <arg name="navigate_output" default="$(arg output)"/>
    <arg name="vision_output" default="$(arg output)"/>
    <arg name="arm_output" default="$(arg output)"/>
    <arg name="use_rviz" default="true"/>
    <arg name="camera" default="real_sense"/>

    <include file="$(find butia_launchfiles)/launch/navigate_vision.launch">
        <arg name="output" value="$(arg output)"/>
        <arg name="navigate_output" value="$(arg navigate_output)"/>
        <arg name="vision_output" value="$(arg vision_output)"/>
        <arg name="use_rviz" value="false"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <include file="$(find butia_launchfiles)/launch/manipulation.launch"/>

    <group if="$(arg use_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_launchfiles)/rviz/navigate_vision_arm.rviz" output="$(arg output)"/>
    </group>

</launch>