<launch>
    <arg name="ROBOT" default="$(env ROBOT_MODEL)"/>

    <arg name="output" value="$(arg navigate_output)"/>
    <arg name="observation_sources" value="$(arg observation_sources)"/>
    <arg name="unknown_map" default="$(arg unknown_map)"/>

    <group if="$(eval ROBOT == 'DORIS')">
        <include file="$(find butia_navigation_launchfiles)/navigate-doris-base.launch">
            <arg name="output" value="$(arg navigate_output)"/>
            <arg name="observation_sources" value="$(arg observation_sources)"/>
            <arg name="map" value="$(arg map)"/>
        </include>
    </group>

    <group if="$(eval ROBOT == 'BORIS')">
        <include file="$(find shark-mb-ros)/launch/shark_navigate.launch">
            <arg name="output" value="$(arg navigate_output)"/>
            <arg name="observation_sources" value="$(arg observation_sources)"/>
            <arg name="map" value="$(arg map)"/>
        </include>
    </group>
</launch>