<launch>
    <arg name="output" default="screen"/>
    <arg name="slam_output" default="$(arg output)"/>
    <arg name="vision_output" default="$(arg output)"/>
    <arg name="face_output" default="$(arg output)"/>
    <arg name="arm_output" default="$(arg output)"/>
    <arg name="use_rviz" default="true"/>
    <arg name="camera" default="realsense"/>
    <arg name="tracking_config_file" default="yolo_tracker_face_recognition.yaml"/>
    <arg name="observation_sources" default="body_scan ground_scan"/>

    <include file="$(find butia_launchfiles)/launch/doris_description.launch"/>
    
    <include file="$(find butia_navigation_launchfiles)/slam-doris-unknown.launch">
        <arg name="observation_sources" value="$(arg observation_sources)"/>
    </include>

    <include file="$(find interbotix_xsarm_moveit)/launch/doris_moveit.launch"/>

    <include file="$(find robotFace)/launch/face.launch">
        <arg name="output" value="$(arg face_output)"/>
    </include>

    <machine
        name="jetson"
        address="jetson"
        env-loader="/opt/ros/melodic/env_jetson.sh"
        default="false"
        user="jetson"
    />
  
    <include file="$(find butia_vision_launchfiles)/face_rec.launch">
        <arg name="machine" value="jetson"/>
        <arg name="camera" value="$(arg camera)"/>
    </include>

    <include file="$(find butia_vision_launchfiles)/yolo_tracker_recognition.launch">
        <arg name="machine" value="jetson"/>
        <arg name="camera" value="None"/>
        <arg name="config_file" value="$(arg tracking_config_file)"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_launchfiles)/rviz/navigate_vision_arm.rviz" output="$(arg output)"/>
</launch>
