<launch>
    <arg name="ROBOT" default="$(env ROBOT_MODEL)"/>

    <arg name="output" default="screen"/>
    <arg name="observation_sources" default="body_scan ground_scan back_scan"/>
    <arg name="unknown_map" default="false"/>
    <arg name="map" default="$(find shark-mb-ros)/maps/goiania.yaml"/>
    <arg name="use_rviz" default="true"/>
    <arg name="use_joy" default="true"/>

    <group if="$(eval use_joy == true)">
        <include file="$(find joy2twist)/launch/gamepad_controller.launch"/>  
    </group>

    <group if="$(eval ROBOT == 'DORIS')">
        <include file="$(find butia_navigation_launchfiles)/navigate-doris-base.launch">
            <arg name="output" value="$(arg output)"/>
            <arg name="observation_sources" value="$(arg observation_sources)"/>
            <arg name="map" value="$(arg map)"/>
        </include>
    </group>

    <group if="$(eval ROBOT == 'BORIS')">
        <include file="$(find shark-mb-ros)/launch/shark_navigate.launch">
            <arg name="output" value="$(arg output)"/>
            <arg name="observation_sources" value="$(arg observation_sources)"/>
            <arg name="map" value="$(arg map)"/>
            <arg name="unknown_map" value="$(arg unknown_map)"/>
            <arg name="use_rviz" value="$(arg use_rviz)"/>
        </include>
    </group>
</launch>