<launch>
    <arg name="output" default="screen"/>
    <arg name="navigate_output" default="$(arg output)"/>
    <arg name="vision_output" default="$(arg output)"/>
    <arg name="arm_output" default="$(arg output)"/>

    <include file="$(find butia_launchfiles)/launch/doris_description.launch">
        <arg name="use_arm" value="true"/>
    </include>

    <include file="$(find butia_navigation_launchfiles)/navigate-doris-base.launch">
        <arg name="output" value="$(arg navigate_output)"/>
    </include>
    
    <machine
        name="jetson"
        address="jetson"
        env-loader="/opt/ros/melodic/env_jetson.sh"
        default="false"
        user="jetson"
    />
    <include file="$(find butia_vision_bridge)/launch/butia_vision_bridge.launch">
        <arg name="machine" value="jetson"/>
        <arg name="output" value="$(arg vision_output)"/>
    </include>

    <include file="$(find interbotix_xsarm_moveit)/launch/xsarm_moveit.launch">
        <arg name="robot_model" value="doris_arm"/>
        <arg name="robot_name" value=""/>
        <arg name="use_actual" value="true"/>
        <arg name="use_moveit_rviz" value="false"/>
    </include>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find butia_launchfiles)/rviz/navigate_vision_arm.rviz" output="$(arg output)"/>
</launch>