<launch>
    <arg name="ROBOT" default="$(env ROBOT_MODEL)"/>
    <arg name="machine" default="jetson"/>
    <arg name="challenge_config"/>
    <rosparam param="whitelist">$(arg ROBOT)</rosparam>

    <group if="$(eval ROBOT == 'DORIS')">
        <include file="$(find butia_speech)/launch/speech_to_text.launch">
            <arg name="challenge_config" value="$(arg challenge_config)"/>
        </include>
    </group>
        
    <group if="$(eval ROBOT == 'BORIS')">
        <include file="$(find butia_launchfiles)/launch/machines.launch"/>
        <include file="$(find butia_speech)/launch/speech_to_text_ml.launch">
            <arg name="speech_to_text_machine" value="$(arg machine)"/>
            <arg name="challenge_config" value="$(arg challenge_config)"/>
        </include>
    </group>
</launch>