<launch>
    <arg name="ROBOT" default="$(env ROBOT_MODEL)"/>
    <arg name="challenge_config"/>
    <rosparam param="whitelist">$(arg ROBOT)</rosparam>

    <group if="$(eval ROBOT == 'DORIS')">
        <include file="$(find butia_speech)/launch/speech_to_text_old.launch"/>
    </group>
        
    <group if="$(eval ROBOT == 'BORIS')">
        <include file="$(find butia_speech)/launch/speech_to_text.launch">
            <arg name="challenge_config" value="$(arg challenge_config)"/>
        </include>
    </group>
</launch>