<launch>
    <arg name="ROBOT" default="$(env ROBOT_MODEL)"/>
    <rosparam param="whitelist">$(arg ROBOT)</rosparam>

    <group if="$(eval ROBOT == 'DORIS')">
        <include file="$(find butia_speech)/launch/synthesizer_speech_old.launch"/>
    </group>
        
    <group if="$(eval ROBOT == 'BORIS')">
        <include file="$(find butia_speech)/launch/synthesizer_speech.launch"/>
    </group>
</launch>